@import 'https://fonts.googleapis.com/css?family=Exo:600';
@import url(weather/css/weather-icons.min.css);

body {
    margin: 0;
    padding: 0;
		font-size: 2em;
    font-family: 'Exo', sans-serif;
}

.weatherBackground {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #373056;
  color: white;
  transition: background-color 2s ease 1s, color 2s ease 1s;
}

.weatherBackground[data-hour='0'],
.weatherBackground[data-hour='1'],
.weatherBackground[data-hour='2'],
.weatherBackground[data-hour='3'] {
  background-color: #362942;
  color: white;
}

.weatherBackground[data-hour='4'],
.weatherBackground[data-hour='5'],
.weatherBackground[data-hour='6'],
.weatherBackground[data-hour='7'] {
  background-color: #82bfe5;
  color: #2F2F2F;
}

.weatherBackground[data-hour='8'],
.weatherBackground[data-hour='9'],
.weatherBackground[data-hour='10'],
.weatherBackground[data-hour='11'] {
  background-color: #c3e9f7;
  color: #2F2F2F;
}

.weatherBackground[data-hour='12'],
.weatherBackground[data-hour='13'],
.weatherBackground[data-hour='14'],
.weatherBackground[data-hour='15'] {
  background-color: #efad51;
  color: #2F2F2F;
}

.weatherBackground[data-hour='16'],
.weatherBackground[data-hour='17'],
.weatherBackground[data-hour='18'],
.weatherBackground[data-hour='19'] {
  background-color: #a33737;
  color: white;
}

.weatherBackground[data-hour='20'],
.weatherBackground[data-hour='21'],
.weatherBackground[data-hour='22'],
.weatherBackground[data-hour='23'] {
  background-color: #192f49;
  color: white;
}

.weather-icon {
  width: 100px;
  height: 100px;
  font-size: 90px;
  text-align: center;
  margin: 1rem;
}

.weather-details {
  text-align: center;
  text-transform: uppercase;
}

.weather-details .city {
  font-size: 24px;
  margin-bottom: 1rem;
}

.weather-details .temperature {
  font-size: 48px;
}
